<!DOCTYPE html>
<html>
<head>
    <title>Manager Create</title>
    <script src="{{ asset('bundles/nzoscanner/js/jquery.min.js') }}"></script>
</head>

<body id="index">
<div></div><div></div>
    <div style="text-align: center">
        <h1>Manager Create</h1>
        <div></div>
        <hr>
        <h3>Form:</h3>
        <div></div>
        <form name="form" method="post">
            seller name: <input type="text" name="sellername"> <br>
            buyer name : <input type="text" name="buyername"> <br>
            price: <input type="text" name="price"> <br>
            amount: <input type="text" name="amount"> <br>

            <input type="submit" value="Submit">
        </form>


    </div>

</body>

</html>